.topnav {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* #img {
    size: 0px;
} */

.html {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 110%;
    /* background-color: lightgrey; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    display: block;
}

.maincontainer {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 98%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* display: block; */
}

.div1 {
    box-sizing: content-box;
    font-weight: bolder;
    background-color: grey;
}

.navbar a {
    font-size: 20px;
    color: black;
    padding: 14px 16px;
    align-content: right;
}


/* .visual {
    width: auto;
    height: auto;
} */

.textbox {
    height: fit-content;
    width: fit-content;
}

.container2 {
    display: block;
    height: 100%;
}


/* .card-body {
    width: 100%;
    align-self: right;
} */

#footer {
    background-color: #505251;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: lightseagreen;
    color: white;
    min-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
    text-align: center;
    position: fixed;
    padding-top: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
}