<!DOCTYPE html>
<html lang="en-us" class="html">

<head>
    <style>
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="font-weight: bolder;">Base Analysis</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">

</head>

<body>
    <div class="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light topnav">
            <a class="navbar-brand div1" href="/">Job Posting Analysis</a>
        </nav>


        <section class="charts_container">
            <header style="background-color: grey;">
                <h2 class="h2header" style="text-align: center;border-color: teal;">Machine Learning Data Analysis</h2>
            </header>
            <hr>
            <h6 style="text-indent: 5%"></h6>
            <br>
            <p>We chose a dataset from Kaggle on Real and Fake Jobs. Using the dataset we preprocessed the dataset prior to fitting the model, performed feature selection and removed any unnecessary features.</p>
            <p>After tuning and comparing the classifers we concluded that "Naive Bayes" gave us maximum accuracy. </p>
            <div class="row">
                <img src="" alt="">
                <img src="" alt="">
            </div>

            <select id="selvalue">
                <option value=Real>Real</option>
                <option value=Fake>Fake</option>
            </select>

            <div class="row">
                <!-- <div class="subcontainer" > -->
                <div class="col-xs-12 col-md-6">
                    <div class="border">
                        <div id="pie">
                            <!-- We append our bar chart here. -->
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6">
                    <div class="border">
                        <div id="bar">
                            <!-- We append our bar chart here. -->
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6">
                    <div class="border">
                        <div id="pie">
                            <!-- We append our bar chart here. -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="border">
                        <div id="pie">
                            <!-- We append our pie chart here. -->
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </section>
    </div>

<!-- d3/ploty/chart -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<!-- Our Javascript -->
<!-- <script src="app.js"></script> -->
<!-- <script type="text/javascript " src="../static/js/app.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/app.js') }}"></script>

</body>
<footer id="footer">
    Project Owners: Abby, James, Jacob, Neelam and Veronica <br> Thanks for visiting our website!!! <br> © Data Analysis and Visualization BootCamp 2020
</footer>


</html>