<!DOCTYPE html>
<html lang="en" style="color: black;">

<head>
    <style>
        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="font-weight: bolder;">Job Posting Analysis</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}">

</head>


<body>

    <div class="body">
        <nav class="navbar navbar-expand-lg navbar-light bg-light topnav">

            <a class="navbar-brand div1" style="align-content: center;" href="/">Job Posting Analysis</a>


            <!-- <li class="nav-item navbar-brand ">
                <a class="nav-link " style="align-self: right ; " target=" __blank " href="Analysis.html ">ML Model Base Analysis</a>
            </li> -->
            <li class="nav-item navbar-brand " style="text-align: right;">

                <a class="nav-link " ; target=" __blank " href="/Analysis">ML Model Base Analysis</a>



            </li>
            <!-- <img style="align-content: right;" src=" ../images/jobposting.jpg " alt="jobposting"> -->
        </nav>
        <div class="maincontainer">
            <div class="jumbotron text-center">
                <h1>Welcome to Job Posting Prediction website! </h1>
                <br>
                <h4>Wanna find out if the job posting is real or fake???</h4>

                <img src="{{ url_for('static', filename= 'images/jobseeker.jpg') }} " alt="jobseeker ">

                <br>
                <p>
                    When applying to a new job, many of us wonder if the position applying for is real or fake. While this question may not arise to some before or immediately after applying for the job; but at certain point when you haven't heard back from that Company's
                    HR / Recruiter even though your skills really matched with the job description it may cloud your mind. Finding a job is overall a very stressful process and to ease that a little bit, we created a Machine Learning Model (Natural Language
                    Processing) that will help determine the Job's authenticity by analyzing the job description.
                </p>
                <p>
                    If you find this website useful, please don't forget to share it with your friends who may be in the process of finding a new job.
                </p>

            </div>
            <hr>

            <div class="row col-12 ">
                <div class="form row col-12 ">
                    <div class="col-lg-4 ">
                        <h4 style="font-weight: bold ">Jobs on Indeed.com</h4>
                        <!-- <textarea name="Enter Job Categories " id="Jobcategories " cols="40 " rows="2 " placeholder="Enter job title, keywords "></textarea> -->
                        <!-- <br> -->
                        <form action="/" method="POST"> 
                            <label for="jobsite">Choose a Jobsite to Scrape:</label>

                            <select name="jobsite" id="jobsite">
                            <option value="indeed">Indeed</option>
                            <option value="craigslist">Craigslist</option>                            
                            </select>
                            <input type="text" id="user_input" name="user_input" placeholder="Job Title">
                            <button type="submit" >Submit</button>
                            </form>  
                        <!-- <a class="btn btn-primary btn-md " href="/scrape " role="button ">Scrape Indeed </a> -->


                    </div>
                    <div class="col-lg-7" style="padding-top: 35px;">
                        <div class="table" style="width: 100%; height:100%px ;border: grey 1px solid; background-color: white; ">
                            <div class="table" style="border-width: 2px; border-color: grey; scroll-behavior: auto; ">
                                <!-- <div class="card-body " style="width: 100% "> -->
                                <!-- <h4 style="font-weight: bold " class="card-title ">Results</h4> -->
                                {% for job in job_postings%}
                                    <p>{{job.title}}</p>
                                    <p>{{job.description}}</p>
                                    <hr>
                                {% endfor %}
                                
                                <!-- </div> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="jobanalysis container2">
                    <div class="textbox col-xs-12 col-md-6 col-lg-8">
                        <!-- <div class=" "> -->

                        <h4 style="font-weight: bold "> Test Job Description </h4>
                        <form action="/" method="POST"> 
                            <input type="text" id="user_input" name="user_input" placeholder="Insert Job Description here">
                            <button type="submit">Analyze</button>
                        </form>
                        <!-- <p></p>

                        <h4 style="font-weight: bold"> Analysis of Job Description </h4>
                        <p></p>

                        <textarea style="border-style: solid; border-color: black;border-width: 1px; " placeholder="Paste job description here and click 'Analyze' " name="Add Job Description " id="jobdescription " cols="75 " rows="15 "></textarea>
                        <br>
                        <a class="btn btn-primary btn-md " role="button ">Analyze</a> -->
                        <!-- </div> -->
                    </div>
                    <div class="visual col-xs-12 col-md-6 col-lg-4">
                        <h5 style="font-weight: bolder; ">Prediction</h5>
                        <textarea name="prediction " id="prediction " cols="10 " rows="5"></textarea>
                        <!-- Prediction Analysis goes here -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<footer id="footer">
    Project Owners: Abby, James, Jacob, Neelam and Veronica <br> Thanks for visiting our website!!! <br> © Data Analysis and Visualization BootCamp 2020
</footer>

<!-- <script type="text/javascript" src="static/js/app.js"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename= 'js/app.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js "></script>



</html>